*{
    padding: 0;
    margin: 0;
}
body{
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #e4e7eb;
}
.faq-QA{
    padding-bottom: 50px;
    padding-top: 20px;
    border: 1px #f1f5f8;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #f1f5f8;
    margin-right: 40px;
    margin-left: 40px;
    border-radius: 7px;
    text-align: left;
    padding-left: 30px;
}

.bg-container{
    height: 80vh;
    width: 100vh;
    margin-top: 50px;
    margin-left: 30%;
   
    background-color: #ffffff;
    box-shadow:0px 4px 16px 0px  #090909;
    margin-top: 100px;

}
h1{
    font-size: 60px;
    font-family: robto;
    color: #cb8805;
    padding-top: 50px;
    margin-bottom: 50px;
   
}
.faqs-container{
  color: #52606d;
  font-size: 25px;
 
}
.faq-question{
    padding-bottom: 15px;
}
.faq-answer{
    color:#9aa5b1;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}
img{
    float: right;
    padding-right: 30px;
}
hr{
    color: #f0f1f4;
}
